My first workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -20
      ],
      "id": "c497f4fc-fb34-4464-b10e-fdf9b81231a2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Nkid9S2PO8Bp_b3SvpiBCq6zRsbRAbtljz3wMz0qa4",
          "mode": "list",
          "cachedResultName": "n8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Nkid9S2PO8Bp_b3SvpiBCq6zRsbRAbtljz3wMz0qa4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Nkid9S2PO8Bp_b3SvpiBCq6zRsbRAbtljz3wMz0qa4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -160,
        -20
      ],
      "id": "9bfd839b-c683-4c3d-bec0-1956e955f26f",
      "name": "Get row(s) in sheet",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f935d7c1-1f4f-4e41-9499-0bafa291183c",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "@terzetto",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        60,
        -20
      ],
      "id": "7df3f31e-4475-4091-be71-84e0d4c88066",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f781e748-b03e-4ee2-b6f5-502131a9afab",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "Hammad",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        -20
      ],
      "id": "21dccd4f-dca6-4fb9-9981-6082d7f4ee65",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Hello  {{ $json.Name }} What's Up",
        "emailType": "text",
        "message": "=You passed {{ $json.Age }} years of your life & I have just jumped into the n8n space. Expect some really cool stuff soon",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -140
      ],
      "id": "fa987b16-12f9-42b4-af69-09104e31e16b",
      "name": "Send a message",
      "webhookId": "bcfe56e4-7dd9-4b22-8c04-76694c8dbd35",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Hey  {{ $json.Name }}",
        "emailType": "text",
        "message": "You just got a chance to be in my email automation",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        500,
        80
      ],
      "id": "74dc889b-311c-4748-a0f3-c3a03f6662af",
      "name": "Send a message1",
      "webhookId": "6472fe11-bd7c-46d8-89eb-b0c23d45b893",
      "credentials": {
        
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dcf093e-9614-4143-919f-c2c39aebc297",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6144a66e82fa63004265646e395e1dab115184480d34e9ec419eaf1921a90052"
  },
  "id": "fFh8G57hWjJcNCW2",
  "tags": []
}