Sub-Workflow Inc_Exp.json
{
  "name": "Sub-Workflow Inc/Exp",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "6ef76eab-8287-4a3d-a73c-0875f8c03021",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -20,
        -100
      ]
    },
    {
      "parameters": {
        "text": "=convert expense/income to JSON:\n\n {{ $json.query }}",
        "attributes": {
          "attributes": [
            {
              "name": "Particular",
              "description": "expense or income description",
              "required": true
            },
            {
              "name": "Date",
              "description": "date of income or expense",
              "required": true
            },
            {
              "name": "Amount",
              "description": "amount of income or expense",
              "required": true
            },
            {
              "name": "Category",
              "description": "either income or expense",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        200,
        -100
      ],
      "id": "3fe4ec7d-4fec-44fd-afbc-7843bbf24eaa",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        100
      ],
      "id": "62b6a4ec-d6a8-42ad-b402-8d54ab65992d",
      "name": "OpenAI Chat Model",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-W6ypabju8MHnMv6-HudD9py35XFKmHbpIM3CrH2J7Q",
          "mode": "list",
          "cachedResultName": "n8n sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-W6ypabju8MHnMv6-HudD9py35XFKmHbpIM3CrH2J7Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 999403575,
          "mode": "list",
          "cachedResultName": "inc/exp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-W6ypabju8MHnMv6-HudD9py35XFKmHbpIM3CrH2J7Q/edit#gid=999403575"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Particular": "={{ $json.output.Particular }}",
            "Amount": "={{ $json.output.Amount }}",
            "Date": "={{ $json.output.Date }}",
            "Category": "={{ $json.output.Category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Particular",
              "displayName": "Particular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        -100
      ],
      "id": "8e2d6296-0012-4ee9-a50c-9b1469219315",
      "name": "Append row in sheet",
      "credentials": {
        
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "545867d6-c375-47fa-a1e7-5e0aa39eb7d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6144a66e82fa63004265646e395e1dab115184480d34e9ec419eaf1921a90052"
  },
  "id": "soyRJI5mjGPnaTBo",
  "tags": []
}